@page
@model TeamHGSTalentContest.Pages.Submissions.IndexModel

@{
    ViewData["Title"] = "Review";
}

<h1>Review Submissions</h1>
<hr/>
<div class="card-columns mt-4">
    @foreach (var item in Model.Submission)
    {
        <div class="card" style="width: 20rem;">
            <video controls class="card-img-top">
                <source src="@Html.DisplayFor(modelItem => item.FileName)" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                <p class="card-text">
                    <a href="mailto:@Html.Raw(item.Email)">@Html.DisplayFor(modelItem => item.Email)</a>
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Location: @Html.DisplayFor(modelItem => item.LocationName)</li>
                <li class="list-group-item">Manager: @Html.DisplayFor(modelItem => item.ManagerName)</li>
                <li class="list-group-item">Phone: <a href="tel:@Html.DisplayFor(modelItem => item.PhoneNumber)">@Html.DisplayFor(modelItem => item.PhoneNumber)</a></li>
                <li class="list-group-item">Submitted On: @Html.DisplayFor(modelItem => item.DateCreated)</li>
                <li class="list-group-item">Image Release: @(item.ImageConsent ? "Yes" : "No")</li>
            </ul>
            <div class="card-body">
                @if (string.IsNullOrEmpty(item.Talent))
                {
                    <span>No talent description provided.</span>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Talent)
                }
            </div>
        </div>
    }
</div>
